/* page layout1 */
* {
  border-radius: 0 !important;
  border: none;
}

#container-fluid {
	padding-left: 25%;
	padding-top: 2%;
	padding-bottom: 1%;
}

body {
	background-image: url("../images/background2.png");
	background-size: 200%;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; 
    padding-bottom:0 !important;
    height: 40px;
}
.navbar {min-height:40px !important;}

.navbar-outer {
  width:439px;
  height: 15em;
}

.navbar-default .navbar-nav>li>a {
	padding-right: 3em;
	padding-left: 3em;
	color: black;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    background-color: white;
}

.navbar ul li {
border-right: 3px solid #000;
}

.navbar ul li:last-of-type {
border-right: none;
}

.modal-body li {
	line-height: 2em;
}

.controllers {
	margin-right: 40em;
	width: 4em;
}

/* Number to Guess/Guesses/Scoreboard */
.panel {
	width: 18em;
	height: 18em;
	position:absolute;
	bottom: -30em;
	margin-bottom: 0;
}

.row-fluid .equal {  
    display: -webkit-flex;
    display: flex;
}

h3 {
	font-size: 40pt;
}

/* dragonEgg images */
img{
	width: 150pt;
}


.center-block {
    position: relative;
    max-width: 800px;
}

/*Targeting Tablets and desktop*/
@media only screen and (min-width: 768px){
	body{
		background-image:url("../images/background2.png");
			width: auto;
			height: auto;
			margin: 1px;
			padding: 10px;
		}
	
/*Targetting phones */
@media only screen and (max-width: 767px){
	body{
		background-image: url("../images/background2.png");
			width: auto;
			height: auto;
			margin: 1px;
			padding: 10px;
		}
		}

/*portraint phones*/
@media only screen(max-width: 767px) and (orientation: portrait){
	body{
		background-image: url("../images/background2.png");
			width: auto;
			height: auto;
			margin: 1px;
			padding: 10px;
	}
	