/* page layout1 */
#container-fluid {
	padding-left: 25%;
	padding-top: 2%;
	padding-bottom: 1%;
}

body {
	background-image: url("../images/background2.png");
	background-size: 200%;
}

.controllers {
	margin-right: 40em;
	width: 4em;
}

/* Number to Guess/Guesses/Scoreboard */
#guessingNumber {
	background-color: white;
	border: solid 3px;
	border-color: black;
	float: left;
	display: inline-block;
	padding: 40px;
	margin-top: 20px;
}

#scoreboard {
	background-color: #f9323c;
	display: inline-block;
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
	width: 17em;
	height: 10em;
}

#totalScore {
	margin-bottom: 50px;
}

#yourTotalScore {
	background-color: white;
	border: solid 2px;
	border-color: black;
	display: inline;
	padding: 20px;
}

/* dragonEgg images */
img{
	width: 150pt;
}


.center-block {
    position: relative;
    max-width: 800px;
}

/*Targeting Tablets and desktop*/
@media only screen and (min-width: 768px){
	body{
		background-image:url("../images/background2.png");
			width: auto;
			height: auto;
			margin: 1px;
			padding: 10px;
		}
	
/*Targetting phones */
@media only screen and (max-width: 767px){
	body{
		background-image: url("../images/background2.png");
			width: auto;
			height: auto;
			margin: 1px;
			padding: 10px;
		}
		}

/*portraint phones*/
@media only screen(max-width: 767px) and (orientation: portrait){
	body{
		background-image: url("../images/background2.png");
			width: auto;
			height: auto;
			margin: 1px;
			padding: 10px;
	}
	